@font-face {
  font-family: "STARWARS";
  src: url("STARWARS.eot?") format("eot"),url("../fonts/STARWARS.woff") format("woff"),url("../fonts/STARWARS.ttf") format("truetype"),url("../fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal;
}
.title{
  font-family: "STARWARS";
  color: #E2D816;
  font-size: 5em;
  text-shadow: 1px 1px 8px #777;
}

/* Space out content a bit */
body {
  padding: 0;
  margin: 0;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.death {
  fill: #cdcdcd;
  border: 1px solid white;
}

visualization{
  position: absolute;
  border: none;
  background: rgba(0, 0 , 0, 0);
  border-radius: 6px;
}
.dstar{
  padding-top: 2em;
  left: 8em;
  float: right;
  position: relative;
  z-index: -3;
  -webkit-backface-visibility: hidden;
}
.dstar {
-webkit-animation: cssAnimation 1s 1 ease;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: scale(0.4); }
to { -webkit-transform: scale(1); }
}


.meteor {
  fill: #9b59b6;
}

.comet {
  fill: white;
}

.other {
  fill: #2ecc71;
}

